<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div id="Home" class="tab">
  <h2> <title>{{ page.title }}</title> </h2>
</div>  
  
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openTab('Home')">Home</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Home2')">Home2</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Home3')">Home3</button>
</div>

<div id="Home" class="tab">
  <h2> Ime </h2>
  <p> {{ content }}</p>
</div>

<div id="Home2" class="tab" style="display:none">
  <h2> Paris</h2>
  <p> Paris is the capital of France.</p> 
</div>

<div id="Home3" class="tab" style="display:none">
  <h2> Tokyo</h2>
  <p> Tokyo is the capital of Japan.</p>
</div>

<script>
function openTab(tabName) {
  var i;
  var x = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(tabName).style.display = "block";  
}
</script>

  </body>
</html>
